.input {
  width: 40%;
}

.output {
  width: 60%;
}

.input-forms,
.preview {
  margin: 1rem;
  background-color: #f9fbfdff;
  display: grid;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border: black solid 1px;
  box-sizing: border-box;
}

.line {
  border: none;
  border-bottom: 3px solid #666;
  height: 0;
  width: 100%;
}

.input-forms {
  padding: 3rem;
  gap: 1rem;
}

.preview {
  background-color: white;
}

.cv-header {
  color: white;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2c3e50;
  padding: 1rem;
  text-wrap: wrap;
}

.cv-navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1e2b36;
}

ul {
  padding-left: 2rem;
}

ul > h3,
.light-font {
  font-weight: 400;
}

article {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

.list-render {
  display: grid;
  gap: 1rem;
}

.work-desc,
.grade {
  font-weight: 400;
}

.company-details,
.university-details {
  display: flex;
  justify-content: space-between;
}

.year {
  color: grey;
}
