.input {
  width: 35%;
}

.output {
  width: 60%;
}

.input-forms,
.preview {
  margin: 1rem;
  background-color: #f9fbfdff;
  display: grid;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.input-forms {
  padding: 3rem;
  gap: 1rem;
}

.preview {
  background-color: white;
}

.cv-header {
  color: white;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2c3e50;
  padding: 1rem;
  text-wrap: wrap;
}

.cv-navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1e2b36;
}

.work,
.education {
  padding: 2rem;
  width: 70%;
}

.work-render,
.education-render {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.work-desc,
.grade {
  font-weight: 400;
}

.company-details,
.university-details {
  display: flex;
  justify-content: space-between;
}

.year {
  color: grey;
}
/* 
.name,
.designation {
  text-align: center;
  margin-bottom: 1.5rem;
} */
